<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/auction</property>
        <property name="connection.username">b58249d8-712c-42d0-8b0d-796814bfc347</property>
        <property name="connection.password">1fb3ed05-8485-4431-a1dd-3314cc978c76</property>
        <property name="connection.pool_size">32</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Classes to be mapped -->
        <mapping class="club.nullbyte3.auction.db.User"/>
        <mapping class="club.nullbyte3.auction.db.Item"/>
        <mapping class="club.nullbyte3.auction.db.Bid"/>

    </session-factory>
</hibernate-configuration>
